@import url("https://fonts.googleapis.com");
:root{
    --primary-orange: #ff9000;
}

body{
    background-image: url("C:/Users/gael/Desktop/bureau/HTML-CSS/BMNS/Bus.jpg");
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

h1{
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 700;
}

h2{
    font-size: 2rem;
    font-weight: 700;
}

.logo{
    background-size: 20px;
}

a{
    text-decoration: underline;
    color: var(--primary-orange);
}

.small{
    font-size: 80%;
    text-align: center;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

.left{
    height: 250px;
}

.left,

.right{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    background: linear-gradient(
        rgba(255, 255, 255, 0.301),
        rgba(255, 255, 255, 0.884)),
        url("https://th.bing.com/th/id/R.21f26511623448a09eb409b6c8738c4a?rik=FMJYietOdgjGEQ&riu=http%3a%2f%2fwww.frogs-in-nz.com%2fvar%2fezwebin_site%2fstorage%2fimages%2finfos-voyageurs%2falbum-photos%2file-du-sud-paysages-et-villes%2fpaysages%2flake-matheson3%2f702429-1-fre-FR%2fLake-matheson.jpg&ehk=dYTwZc%2bCzI76JgLVZ7j%2b%2b7mOXnXpWW0rKHVh4b%2bQc7E%3d&risl=&pid=ImgRaw&r=0");
    background-size: cover;
}

.left .copy{
    text-align: center;
    --webkit-font-something: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.left img{
    width: 150px;
}

.right .copy{
    color: aliceblue;
    font-weight: bold;
}

.right.copyp{
    margin: 1.5rem;
    font-size: 1rem;
}

.rigth form{
    width: 330px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ff9000;
    padding: 1em;
    margin-bottom: 1.3rem;
    font-size: 1rem;
}

label{
    color: aliceblue;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.error-message {
    color: red;
    font-size: 12px;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.2rem 0;
}

.checkbox-container input:checked ~
.checkmark {
    background-color: var(--primary-orange);
    border: px solid var(--primary-orange);
}

.checkmark{
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}

.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~
.checkmark::after{
    display: block;
}
.checkbox-container.checkmark::after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}

.signup-btn{
    display: block;
    width: 100%;
    background: var(--primary-orange);
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover{
    background: #4f6ec2;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    
    h1{
        color: black;
    }

    .left,
    .right{
        display: flex;
        width: 50%;
        height: auto;
    }

    .left{
        background: linear-gradient(
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0,0.993)),
            url("https://th.bing.com/th/id/R.21f26511623448a09eb409b6c8738c4a?rik=FMJYietOdgjGEQ&riu=http%3a%2f%2fwww.frogs-in-nz.com%2fvar%2fezwebin_site%2fstorage%2fimages%2finfos-voyageurs%2falbum-photos%2file-du-sud-paysages-et-villes%2fpaysages%2flake-matheson3%2f702429-1-fre-FR%2fLake-matheson.jpg&ehk=dYTwZc%2bCzI76JgLVZ7j%2b%2b7mOXnXpWW0rKHVh4b%2bQc7E%3d&risl=&pid=ImgRaw&r=0");
    }

    .left p{
        color: black;
    }
}
