{%static%}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.min.js"></script>
    <title>Billet de car</title>
    <link rel="stylesheet" href="{% static 'css/Billet.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#"><img id="logo" src="" alt=""></a>
        </div>
        <ul class="menu">
            <li><a href="">Acceuil</a></li>
            <li><a href="#a-propos">A propos</a></li>
            <li><a href="#">Destination</a></li>
            <li><a href="#contact">Contacts</a></li>
            <li><a href="">Connexion</a></li>
        </ul>
        <a href="" class="btn-reservation">Reserver Maintenant</a>
    
        <div class="responsive-menu"></div>
    </header>
    <section class="billets">
        <div class="mesg">
            <h4 class="titre">Reservation Effectué</h4>
        </div>
        <div class="billet">
            <h2>Billet de car</h2>
            <div class="infos">
                <div>
                    <label>Nom du client :</label>
                    <span id="nom-client">{{Billet.Nom_Voyageur}}</span>
                </div>
                <div>
                    <label>Prenom du client :</label>
                    <span id="nom-client">{{Billet.Prenom_Voyageur}}</span>
                </div>
                <div>
                    <label>Date de départ :</label>
                    <span id="date-depart">{{Billet.Nom_Voyageur}}</span>
                </div>
                <div>
                    <label>Date d'arrivée :</label>
                    <span id="date-arrivee">{{Billet.Nom_Voyageur}}</span>
                </div>
                <div>
                    <label>Prix du billet :</label>
                    <span id="prix-billet">{{Billet.Prix}}</span>
                </div>
                <div>
                    <label>Ville de départ :</label>
                    <span id="ville-depart">{{Billet.Depart}}</span>
                </div>
                <div>
                    <label>Ville d'arrivée :</label>
                    <span id="ville-arrivee">{{Billet.Destination}}</span>
                </div>
                <div>
                    <label>Heure de départ :</label>
                    <span id="heure-depart">08:00</span>
                </div>
                <div>
                    <label>Heure d'arrivée :</label>
                    <span id="heure-arrivee">12:00</span>
                </div>
                <div>
                    <label>Numéro de siège :</label>
                    <span id="numero-siege">12A</span>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button onclick="generatePDF()">Télécharger le billet en PDF</button>
        </div>
    </section>

    <script>
        // Générer un PDF à partir du contenu HTML
        function generatePDF() {
            var billetHTML = document.getElementById('billet').outerHTML;
            var pdf = new jsPDF();
            pdf.fromHTML(billetHTML, 15, 15);
            pdf.save('billet-de-car.pdf');
        }
    </script>
</body>
</html>