{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/Reservation.css' %}" />
    <title>BMNS</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}"><img id="logo" src="{% static 'image/Logo.png' %}" alt="Logo" /></a>
        </div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Accueil</a></li>
            <li><a href="{% url 'about' %}">À propos</a></li>
            <li><a href="#contact">Contacts</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profil' %}">Profil</a></li>
            <li><a href="{% url 'logout' %}">Déconnexion</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Connexion</a></li>
            {% endif %}
        </ul>
        <a href="{% url 'reservation' %}" class="btn-reservation">Réserver Maintenant</a>
        <div class="responsive-menu"></div>
    </header>

    <section id="home" style="background: linear-gradient(rgba(0,0,0,0.1), #333), url({% static 'image/acc.png' %});
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;">
        <h2>Nous suivre</h2>
        <h4>Voyagez en sécurité</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <p>Dicta praesentium dignissimos cumque delectus.</p>
        <a href="#" class="btn-reservation home-btn">Réserver Maintenant</a>
        <div class="find_trip">
            <form action="" method="post">
                {% csrf_token %}
                <div>
                    <label for="ville_depart">De</label>
                    <select name="ville_depart" id="ville_depart">
                        <option value="">Sélectionnez une ville de départ</option>
                        {% for ville in villes_depart %}
                            <option value="{{ ville }}" {% if ville == selected_ville_depart %}selected{% endif %}>{{ ville }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <label for="ville_arrive">Vers</label>
                    <select name="ville_arrive" id="ville_arrive">
                        <option value="">Sélectionnez une ville d'arrivée</option>
                        {% for ville in villes_arrivee %}
                            <option value="{{ ville }}" {% if ville == selected_ville_arrive %}selected{% endif %}>{{ ville }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Voir">
            </form>
        </div>
    </section>

    <section id="recherche">
        <div class="banner">
            <span id="result-count"></span> {{ trajets|length }} résultats trouvés
        </div>
        {% for trajet in trajets %}
        <div class="card">
            <div class="card-header">
                <div class="card-title">{{ trajet.Ville_Depart }} - {{ trajet.Ville_Arrivée }}</div>
                <div class="card-price">{{ trajet.Prix }} Francs CFA</div>
            </div>
            <div class="card-body">
                <div class="card-travels">Profitez d'un voyage vers {{ trajet.Ville_Arrivée }} avec la compagnie UTB</div>
                <div class="card-date">Date: {{ trajet.Date }}</div>
                <div class="card-duration">Durée: 2 h 00 min</div>
                <div class="card-details">Départ prévu à {{ trajet.Heure_Depart }} - Arrivée prévue à {{ trajet.Heure_Arrivée }}</div>
            </div>
            <div class="card-footer">
                {% if user.is_authenticated %}
                    <a href="{% url 'reserve' trajet.id %}">Réserver</a>
                {% else %}
                    <a href="{% url 'login' %}">Connectez-vous</a>
                    <p>Veuillez vous connecter avant de poursuivre la réservation</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </section>
    <footer>
        <div class="footerContainer">
            <div class="socialIcons">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
            </div>
            <div class="footerNav">
                <ul>
                    <li><a href="">Acceuil</a></li>
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
        </div>
        <div class="footerBottom">
            <p>Copyright &copy;2024; Realisé par <span class="designer">Salami Abiola</span></p>
        </div>
    </footer>
    <script>
        var toggle_menu = document.querySelector('.responsive-menu');
        var menu = document.querySelector('.menu');
        toggle_menu.onclick = function(){
            toggle_menu.classList.toggle('active');
            menu.classList.toggle('responsive');
        }
    </script>
</body>
</html>
